/*style for container div*/

.marg {
  margin-top: 8%;
}

/*style for canvas div */

.canvasstyle {
  display: block;
}

/*style for canvas size*/

#canvas {
  height: 200%;
  width: 100%;
}

/* top margin */

.container-fluid {
  margin-top: 55px;
}
