<section class="login-block">
  <div class="container">
    <div class="row">
      <div class="col-md-8 banner-sec">
        <!-- Carousel section for displaying images -->
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img class="d-block img-fluid" src="https://static.pexels.com/photos/33972/pexels-photo.jpg" alt="First slide">
              <div class="carousel-caption d-none d-md-block">
                <div class="banner-text">
                  <h2>{{config.forgotpassword.STOCK_MARKET}}</h2>
                  <p>{{config.forgotpassword.PIC}}</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="https://images.pexels.com/photos/7097/people-coffee-tea-meeting.jpg" alt="First slide">
              <div class="carousel-caption d-none d-md-block">
                <div class="banner-text">
                  <h2>{{config.forgotpassword.STOCK_MARKET}}</h2>
                  <p>{{config.forgotpassword.PIC_TWO}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 login-sec">
        <!-- Forgot Password Form -->
        <h2 class="text-center">{{config.forgotpassword.FORGOT_PASSWORD}}</h2>
        <form class="login-form">
          <form [formGroup]="form" #formDir="ngForm">
            <!-- <div [hidden]="formDir.submitted"> -->
            <div class="form-group">
              <div class="row">
                <input id="email" type="email" class="form-control" name="email" placeholder="Email Address" formControlName="email" required [(ngModel)]="emailID">
                <div *ngIf="email.invalid && (email.dirty || email.touched)">
                  <div *ngIf="email.errors.required">
                    {{config.forgotpassword.VALIDATION_ONE}}
                  </div>
                  <div *ngIf="email.errors.pattern">
                    {{config.forgotpassword.VALIDATION_TWO}}
                  </div>
                  <div *ngIf="email.errors.minlength">
                    {{config.forgotpassword.VALIDATION_THREE}}
                  </div>
                </div>
              </div>
              <div *ngIf="alert" id="alert" class="alert-{{alert.type}}">
                {{alert.message}}
              </div>
              <div class="row">
                <button type="submit" class="btn btn-primary" [disabled]="form.invalid" (click)="forgot(emailID)">{{config.forgotpassword.RESET_PASSWORD}}</button>
              </div>
            </div>
            <!--  </div> -->
          </form>
        </form>
      </div>
    </div>
  </div>
</section>

