<!-- navigation bar displayed on top of update password page -->
<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
    <!-- sidebar displayed on top of update password page -->
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-8 marg">
      <div class="container">
      <!-- form for update password -->
        <form [formGroup]="pwdInfo" novalidate>
        <!-- input field for current password -->
          <div class="form-group">
            <label class="center-block">{{config.updatepassword.CURRENT_PASSWORD}}
              <input type="password" class="form-control" formControlName="currentPwd">
            </label>
          </div>
          <!-- input field for new password -->
          <div class="form-group">
            <label class="center-block">{{config.updatepassword.NEW_PASSWORD}}
              <input type="password" class="form-control" formControlName="newPwd">
            </label>
          </div>
          <!-- input field for confirm new password -->
          <div class="form-group">
            <label class="center-block">{{config.updatepassword.CONFIRM_PASSWORD}}
              <input type="password" class="form-control" formControlName="confirmPwd">
            </label>
          </div>
          <div class="form-group">
            <input class="form-control" formControlName="email" hidden>
          </div>
          <!-- button on form -->
          <button (click)="updatePwdInfo(pwdInfo,pwdInfo.get('email').value)">Save</button>
        </form>
        <!-- form for update password ends here -->
      </div>
    </div>
  </div>
</div>
